.IMD-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 25px;

  padding: 6px 12px;
  margin-right: 12px;

  color: #fff4e4;
  background-color: $theme-color-2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  transition: color .2s ease, background-color .2s ease;
}

.IMD-tag:hover{
  color: #000;
  background-color: $theme-color-4;
}

.IMD-tag__name {
  font-size: 12px;
  font-weight: bold;
}