$theme-color-1: #456268;
$theme-color-2: #79a3b1;
$theme-color-3: #d0e8f2;
$theme-color-4: #fcf8ec;

$header-max-width: 675px;
$content-max-width: 675px;

$shadow: 0 0 4px 4px rgba(0, 0, 0, 0.05);

$background-color: rgba(0, 0, 0, 0.02);