@import "~fontsource-lato/index.css";
@import "~fontsource-noto-sans-kr/index.css";
@import "~fontsource-fira-sans/index.css";

@import "../../assets/css/valuable";

body {
  font-family: "Noto Sans KR", "Lato", sans-serif;
}

.main-page__post-contents-footer__avatar-image {
  display: block;
  width: 2.5em;
  height: auto;

  float: left;

  margin: .2em 0 0;
  border-radius: .25rem;
}

.post-contents-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: $content-max-width;

  margin: auto;
}

.post-pagination-area {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 20px 10px;
}
