.IMD-next-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  padding: 16px;
  margin: 0 6px;

  .IMD-next-card__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;

    font-size: 16px;
    font-weight: bold;

    margin-bottom: 16px;
  }
}

@media all and (max-width: 480px) {
  .IMD-next-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    width: 100%;

    .IMD-next-card__title{
      margin-bottom: 0;
    }
  }
}