.IMD-post-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  margin-top: 30px;
  padding: 24px 24px 16px 24px;
}

.IMD-post-card__post-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IMD-post-card__header__title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: 18px;
  font-weight: 800;
}

.IMD-post-card__main__expert{
  width: 100%;

  font-size: 14px;
  color: $theme-color-1;

  word-break: keep-all;
  box-sizing: border-box;
  line-height: 1.4;

  margin: 12px 0 12px 8px;
}

@media all and (min-width:480px) and (max-width:769px) {
}

@media all and (max-width:480px) {
  .IMD-post-card{
    border-radius: 0;

    margin-top: 10px;
    margin-bottom: 0;
    padding: 18px 12px;
  }

  .IMD-post-card__main__expert{
    font-size: 14px;
  }
}