---
title: {{title}}
createdDate: "{{createdDate}}"
updatedDate: "{{createdDate}}"
author: {{author}}{{tags}}
draft: {{draft}}
---

My awesome article

## TODO

-   [ ] Replace image
-   [ ] Write an awesome article
