.IMD-header {
  position: sticky;
  top: 0;
  width: 100%;

  background-color: #ffffff;
  box-shadow: $shadow;
  z-index: 50;
}

.IMD-header__contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: $header-max-width;
  height: 74px;

  margin: 0 auto;
  padding: 12px;
}

.IMD-header__logo-image {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  object-fit: cover;

  cursor: pointer;
}

.IMD-header__text {
  font-size: 16px;
  font-weight: bold;

  margin-left: 8px;
  margin-bottom: 12px;
}

.IMD-header__left-contents{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.IMD-header__right-contents{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.IMD-header__menu-text {
  font-size: 16px;

  margin-left: 12px;

  cursor: pointer;
}