.main-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

  padding: 3px 16px;
  z-index: 50;
}

.main-header__logo-image {
  width: 40px;
  height: 40px;
  border-radius: 25px;

  cursor: pointer;
}

.main-header__sidebar-image {
  width: 25px;
  height: 25px;

  cursor: pointer;
}
