.blog-post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;

  max-width: $content-max-width;

  margin: 0 auto;
  padding: 8px 32px;

  background-color: #fff;
}

.blog-post__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  margin-top: 20px;

  width: 100%;
}

.blog-post__title {
  font-size: 26px;
  font-weight: bold;

  margin: 0 24px;
}

.blog-post__main {
  @import "./post-contents.scss";

  width: 100%;
  box-sizing: border-box;

  margin: 12px;
}

.blog-post__next-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;

  margin-top: 50px;
}

@media all and (max-width: 480px) {
  .blog-post {
    padding: 8px 12px;
  }

  .blog-post__title {
    font-size: 32px;
    font-weight: bold;

    margin: 0;
  }

  .blog-post__next-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin-top: 30px;
  }
}