.sidebar-menu-container__overlay {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.sidebar-menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  transform: translateX(-240px);
  transition: 0.3s 0s ease;

  top: 0;
  left: 0;

  width: 240px;
  height: 100vh;

  background: #ffffff;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;

  padding: 24px;
}

.visible {
  transform: translateX(0);
}

.sidebar-menu-container__top {
  width: 100%;
  min-height: 54px;
}

.sidebar-menu__close-icon {
  width: 24px;
  height: 24px;

  cursor:pointer;
}